.Footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
  }

.Footer-title{
  position: absolute;
  top:85%;
}

.Footer-copy{
  position: absolute;
  top:85%;
  left:78%

}