.header{
    text-align: left;
    border: 2px solid black;
    border-radius: 5%;
    border-style:groove;
}

.logo{
    height: 40px;
    width: 40px;
    top:12px;
    left:15px;
    position: relative;
}

.title a{
    color: black;
    text-decoration: none;
    position: absolute;
    top:14px;
    left:1.5cm;
}

.topnav {
    background-color: whitesmoke;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 grey;    
  }

#Login{
    color: black;
    text-decoration: none;
    position: Absolute;
    left:31cm;
    top:-30px;
}

#Login2{
    color: black;
    text-decoration: none;
    position: Absolute;
    left:25cm;
    top:-26px;
}

.user a{
    color: black;
    text-decoration: none;
    position: absolute;
    left:80%;
    top:20px;
}

.Option a{
    color: black;
    text-decoration: none;
    position:relative;
}