body {
  margin: 0;
  padding: 0;
  height:100vh;
  width: 100vw;
  background-color:whitesmoke;
  color: #3c484e;
  overflow:hidden;
  font-family:'Courier New', Courier, monospace;
}

.Main {
  padding: 0px;
  grid-template-columns: minmax(auto, 1800px);
  display: grid;
  justify-content: center;
}